PORT=5001
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/Regal
JWT_SECRET=your_jwt_super_secret_production_key_2026
BSC_RPC_URL=https://bsc-dataseed.binance.org/
BSC_RPC_FALLBACK_URL=https://bsc-dataseed1.defibit.io/
CHAIN_ID=56
RGL_TOKEN_ADDRESS=0xcc6Ba1e3a452fd0b184204723E49eB30691e53A5
TREASURY_ADDRESS=0x1A2B3C4D5E6F7A8B9C0D1E2F3A4B5C6D7E8F9A0B
